.row
  .col-md-12
    .cont_mn
      navm.mobile-nav
        .menu-mobile-footer
          ul#menu-mobile-footer.menu
            li#telefoon
              a(href='tel:+31 63 85 32 719')
            li#mail
              a(href='mailto:info@zannoudi.com')
            li#whatsapp
              a(href='intent://send/+31638532719#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end')
            li#facebook
              a(href='https://www.facebook.com/Zannoudi/')
