.row
  article
    h1 Downloads
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mauris in nunc vulputate suscipit. Maecenas egestas, neque non ornare porttitor, tortor lectus sodales metus, finibus lobortis tortor nisl vel mauris. Phasellus tincidunt,
      | lorem vel varius aliquet, eros elit fermentum eros, ac pharetra enim nulla ac arcu. Sed ullamcorper molestie facilisis. Pellentesque malesuada lorem ac dui posuere hendrerit. Etiam rutrum gravida tincidunt. Curabitur vel rhoncus nisi.
      | Morbi ultricies pellentesque nisi, a elementum magna tempor dapibus. Aenean eget vulputate risus, tristique laoreet magna. Pellentesque cursus aliquet erat non vestibulum. Aliquam erat volutpat. Nulla id elit ultrices, dapibus libero at,
      | interdum neque.In tempus odio ligula, et sodales risus lobortis non. Nam non justo bibendum, euismod sapien quis, sagittis nibh. Nulla porta accumsan eros ut luctus. Aenean pretium massa sit amet mi molestie ultrices. Integer vel purus
.row.features
    .col-md-4.col-sm-6
      .box.item
        i.glyphicon.glyphicon-list-alt.icon
        h3 Stages
        p Lorem ipsum dolor sit amet
        a(href='#') Download
    .col-md-4.col-sm-6
      .box.item
        i.glyphicon.glyphicon-list-alt.icon
        h3 Downloads
        p Lorem ipsum dolor sit amet
        a(href='#') Download
    .col-md-4.col-sm-6
      .box.item
        i.glyphicon.glyphicon-list-alt.icon
        h3 Opleidingen
        p Lorem ipsum dolor sit amet
        a(href='#') Download
