.row
  article
    h1 Referenties
.row        
    .col-md-6
        p
            | Hieronder een selectie van onze opdrachtgevers <br /><br />
            span.referentie
                | - Rechtspraak Nederland ! <br />
                | - UWV Nederland <br />
                | - NIFP (Ned.Instituut v. Forensche Psychiatrie & Psychologie <br />
.row
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/ML-Tours.png', alt='Referentie', width='200px')     
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/Alcander.png', alt='Referentie', width='200px')    
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/AvOppen.png', alt='Referentie', width='200px')    
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/Gemeente-Maastricht.png', alt='Referentie', width='200px')    
.row        
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/Sevagram.png', alt='Referentie', width='200px')    
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/Forum-logo.png', alt='Referentie', width='200px')    
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/KRO-NCRV.png', alt='Referentie', width='200px')    
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/rijksoverheid-logo.png', alt='Referentie', width='200px')
.row        
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/Logo-Wyckerveste.png', alt='Referentie', width='200px')    
    .col-md-3.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/logoPL.png', alt='Referentie', width='200px')    
.row        
    .col-md-6.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/OM-logo.png', alt='Referentie', width='500px')    
    .col-md-6.col-xs-6
        img.refimg.img-responsive(src='../assets/img/referentie/Logo RvdK.jpg', alt='Referentie', width='500px')    
