article
  h1 Speciale Dienstverlening
  h3 Uitleg beëdigd vertalen:
  p  
    | Een beëdigd document is gewaarmerkt met een officiële (juridische) status. Dit document wordt verlangd door overheden en instanties.
    | Beëdigde diensten: Dankzij de aanwezige ervaring en deskundigheid zijn wij op de hoogte van de verschillen in taal, de cultuur en rechtsgang.<br/>
  h3 Services: (non)-profit & particulier:
  p
    ul
    li Simultaan (beëdigd) tolken: ter plekke wordt een vlotte (juridisch vereiste) vertaling gegeven.
    li Beëdigde vertalingen: nodig voor officiëel gebruik bij overheden en instanties
    li Telefonisch tolken / congrestolken 
    li Alle diensten: van diploma tot trouw- & scheidingspapieren, media-uitingen zoals advertentie-teksten.. u bedenkt het, wij leveren de dienstverlening 
  p
    | Vanzelfsprekend wordt discreet gewerkt. U kunt rekenen op absolute geheimhouding.
  h3 Tarieven: 
  P
    | De prijs voor een vertaling is afhankelijk van een aantal factoren waaronder bijvoorbeeld de omvang, het onderwerp en de moeilijkheidsgraad van de tekst. 
    | Verder wordt het tarief voor vertaalwerk per woord berekend en hangt af van de talencombinatie. 
  P
    | Er kan een toeslag in rekening worden gebracht voor zeer specialistisch vertaalwerk, vertalingen voor publicatie, spoedvertalingen en beëdigde vertalingen. <br/>
    | Voor het tolken wordt een uurprijs berekend <br>
  h3 
    a(href= contactlink)= "Snel & direct contact "
