.row
  article
    h1 Contact
.row
  .col-md-5.col-sm-6
    img.contactimg(src='../assets/img/Hassan-en-face-0.png', alt='Hassan', width='180px')
    p
      | U kunt rekenen op discretie en gegarandeerde kwaliteit.<br />
      | Bel of mail vrijblijvend
    img.contactimg(src='../assets/img/Hassanstreep.png', alt='Hassan', width='180px')  
    
  .col-md-5.col-sm-6
    p
      | Tolk- & Vertaalbureau Zannoudi<br />
      | Kontaktpersoon:<br />
      | Beëdigd tolk & vertaler Dhr. H. Zannoudi<br />
      | <br />
    table
      tr
        td Telfoon Mobiel:
        td +31 (0) 6 38 53 27 19
      tr
        td Telefoon kantoor
        td +31 (0) 45 74 000 22
      tr
        td Kantooradres:
        td Oliemolenstraat 60
      tr
        td
        td 6416CB Heerlen
      tr
        td Postadres:
        td Postbus 8
      tr
        td
        td 6400AA Heerlen
      tr
        td e-Mail adres:
        td 
          span.reverse ln.iduonnaz@ofni
      tr
        td
        td 
          span.reverse ln.klotrebreb@ofni
      tr
        td Website:
        td www.zannoudi.nl
      tr
        td
        td www.berbertolk.nl
      tr
        td Rbtv nr:
        td 2232
      tr
        td K.v.K.:
        td 66602696
      tr
        td B.T.W. nr:
        td NL155674663B04
  .col-md-2.col-sm-6
    .row
      .col-md-12
        img.contactimg(src='../assets/img/pand.png', alt='Hassan', width='180px')
    .row
      .col-md-12
        img.contactimg(src='../assets/img/pand2.png', alt='Hassan', width='180px')
    .row
      .col-md-12
        img.contactimg(src='../assets/img/pand3.png', alt='Hassan', width='180px')

