article
  h1 Tolk & Vertaalservice
  p
    | Drijvende kracht achter Tolk- & Vertaalbureau Zannoudi is Hassan Zannoudi.
  P
    | Hij beheerst vloeiend Arabisch, Marokkaans, Algerijns, Berbers en Nederlands in woord en geschrift. <br/> 
    | Beëdigd tolk, gespecialiseerd in het Arabisch-Marokkaans, Berber-Tarifit, Arabisch-Algerijns.
  P
    | Tevens heeft Tolk- & Vertaalbureau Zannoudi de beschikking over tolken/vertalers die behulpzaam kunnen zijn bij (beëdigde) 
    | tolk- & -vertaaldiensten in andere talen.
  P
    | Tolk- & -Vertaalbureau Zannoudi is in 1999 van start gegaan.
