- var contactpersoon = 'Uw contact persoon'
- var Sinds1999 = 'Sinds 1999'
- var Tolk = 'Tolk & Vertaalbureau'
- var Tolkv = 'Tolk & Vertaal'
- var BeedigdTolk = 'Beëdigd Tolk'
- var SpecDienst = 'Speciale dienstverlening'
- var Downloads = 'Downloads'
- var Referentie = 'Referenties'
- var Stages = 'Stages & Opleiding'
- var Cursus = 'Stages'
- var Contact = 'Contact'
- var Taal = 'Taal'
- var CompanyName = 'Tolk & Vertaalbureau Zannoudi'



- var Learnmore= 'Learn more'
- var Slider1Titel = 'Tolk & Vertaalbureau'
- var Slider1Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider1Link = 'tolk.html'

- var Slider2Titel = 'Vertaal services'
- var Slider2Sub = 'Op congressen, per telefoon op aanvraag'
- var Slider2Link = 'tolk.html'

- var Slider3Titel = 'Tolk & Vertaalbureau'
- var Slider3Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider3Link = 'tolk.html'

- var Slider4Titel = 'Tolk & Vertaalbureau'
- var Slider4Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider4Link = 'tolk.html'

- var Slider5Titel = 'Tolk & Vertaalbureau'
- var Slider5Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider5Link = 'tolk.html'

- var Slider6Titel = 'Tolk & Vertaalbureau'
- var Slider6Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider6Link = 'tolk.html'


- var HomeKnop = 'index.html'
- var HomeGBknop = 'indexgb.html'
- var HomeFRknop = 'indexfr.html'
- var HomeARknop = 'indexar.html'

- var cursuslink = 'reservering.html'
- var dienstlink = 'specdiensten.html'
- var contactlink = 'contact.html'
- var referentielink = 'referentie.html'
- var tolklink = 'tolk.html'
- var downloadsLink = 'downloads.html'
- var specdienstLink = 'specdiensten.html'
- var beedigdtolkLink = 'tolk.html'
