// adres
- var contactpersoon= 'Contact information'
- var Sinds1999= 'Sinds 1999'
- var Tolk = 'Interpreter & Translation'
- var Tolkv = 'Interpret & Translate'
- var BeedigdTolk= 'Interpreter'
- var SpecDienst= 'Special services'
- var Downloads= 'Downloads'
- var Referentie= ' References'
- var Stages= 'Education'
- var Cursus= 'Stages'
- var Contact=  'Contact'
- var Taal = 'Language'
- var CompanyName = 'Tolk & Vertaalbureau Zannoudi'

// carousel
- var Learnmore= 'Learn more'
- var Slider1Titel = 'Interpreter & Translation'
- var Slider1Sub = 'Your looking for a qualified interpreter?'
- var Slider1Link= 'tolk.html'

- var Slider2Titel = 'Translation services'
- var Slider2Sub = 'On congres , phone or meeting'
- var Slider2Link= 'tolk.html'

- var Slider3Titel = 'Tolk & Vertaalbureau'
- var Slider3Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider3Link= 'tolk.html'

- var Slider4Titel = 'Tolk & Vertaalbureau'
- var Slider4Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider4Link= 'tolk.html'

- var Slider5Titel = 'Tolk & Vertaalbureau'
- var Slider5Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider5Link= 'tolk.html'

- var Slider6Titel = 'Tolk & Vertaalbureau'
- var Slider6Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider6Link= 'tolk.html'

// links
- var HomeKnop = 'index.html'
- var HomeGBknop = 'indexgb.html'
- var HomeFRknop = 'indexfr.html'
- var HomeARknop = 'indexar.html'

- var cursuslink = 'reservering.html'
- var dienstlink = 'dienst.html'
- var contactlink = 'contact.html'
- var referentielink = 'referentie.html'
- var tolklink= 'tolk.html'
