// adres
- var Home = 'منزل'
- var contactpersoon= 'معلومات الاتصال'
- var Sinds1999= 'منذ 1999'
- var Tolk = 'الترجمة الشفوية والتحريرية'
- var Tolkv = 'الترجمة الشفوية والتحريرية'
- var BeedigdTolk= 'مترجم'
- var SpecDienst= 'خدمات خاصة'
- var Downloads= 'التنزيلات'
- var Referentie= 'إشارة'
- var Stages= 'تدريب'
- var Cursus= 'وضع'
- var Contact=  'اتصال'
- var Taal = 'لغة'
- var CompanyName = 'الترجمة والترجمة وكالة Zannoudi'
// carousel
- var Learnmore= 'معلومات الاتصال'
- var Slider1Titel = 'مترجم والترجمة'
- var Slider1Sub = 'كنت تبحث عن مترجم محلف'
- var Slider1Link= 'tolk.html'

- var Slider2Titel = 'خدمات الترجمة'
- var Slider2Sub = 'في مؤتمر أو اجتماع'
- var Slider2Link= 'tolk.html'

- var Slider3Titel = 'وكالة الترجمة والترجمة'
- var Slider3Sub = 'هل تبحث عن مترجم محلف أو الترجمة؟'
- var Slider3Link= 'tolk.html'

- var Slider4Titel = 'وكالة الترجمة والترجمة'
- var Slider4Sub = 'هل تبحث عن مترجم محلف أو الترجمة؟'
- var Slider4Link= 'tolk.html'

- var Slider5Titel = 'وكالة الترجمة والترجمة'
- var Slider5Sub = 'ل تبحث عن مترجم محلف أو الترجمة؟'
- var Slider5Link= 'tolk.html'

- var Slider6Titel = 'وكالة الترجمة والترجمة'
- var Slider6Sub = 'هل تبحث عن مترجم محلف أو الترجمة؟'
- var Slider6Link= 'tolk.html'

// links
- var HomeKnop = 'index.html'
- var HomeGBknop = 'indexgb.html'
- var HomeFRknop = 'indexfr.html'
- var HomeARknop = 'indexar.html'

- var cursuslink = 'reservering.html'
- var dienstlink = 'specdiensten.html'
- var contactlink = 'contact.html'
- var referentielink = 'referentie.html'
- var tolklink = 'tolk.html'
- var downloadsLink = 'downloads.html'
- var specdienstLink = 'specdiensten.html'
- var beedigdtolkLink = 'tolk.html'
