- var taal = 'NL'
if taal == 'NL'
  include ./include/NL/var.pug
if taal == 'FR'
  include ./include/FR/var.pug
if taal == 'GB'
  include ./include/GB/var.pug
if taal == 'AR'
  include ./include/AR/var.pug

doctype html
html.no-js(lang="")
  include ./include/head.pug
        include ./include/carousel.pug
        include ./include/footer.pug
        include ./include/mobile-nav.pug
    include ./include/scripts.pug
