- var taal = 'NL'
if taal == 'NL'
  include ./include/NL/var.pug
if taal == 'FR'
  include ./include/FR/var.pug
if taal == 'GB'
  include ./include/GB/var.pug
if taal == 'AR'
  include ./include/AR/var.pug

doctype html
html.no-js(lang="")
  include ./include/head.pug
        .bckgnd
          .row.moveup
            .col-md-10.col-md-offset-1
              .editcms.cushycms
                if taal == 'NL'
                  include ./include/NL/html_tolk.pug
                if taal == 'FR'
                  include ./include/FR/html_tolk.pug
                if taal == 'GB'
                  include ./include/GB/html_tolk.pug
                if taal == 'AR'
                  include ./include/AR/html_tolk.pug
        include ./include/footer.pug
        include ./include/mobile-nav.pug
    include ./include/scripts.pug
