// adres
- var Home= 'Interprète & Traduition'
- var contactpersoon= 'Contact information'
- var Sinds1999= 'Depuis 1999'
- var Diensten = 'Diensten'
- var Tolk = 'Interprète & Traduition'
- var Tolkv = 'Interprète & Traduition'
- var BeedigdTolk= 'Interprète & Traduition'
- var SpecDienst= 'Service special'
- var Downloads= 'Telechargments'
- var Referentie= ' References'
- var Stages= 'Education'
- var Cursus= 'Stages'
- var Contact=  'Contact'
- var Taal = 'Langue'
- var CompanyName = 'Tolk & Vertaalbureau Zannoudi'

// carousel
- var Learnmore= 'Learn more'
- var Slider1Titel = 'Interprète & Traduition'
- var Slider1Sub = 'Vous cherchez une interprète assermenté?'
- var Slider1Link= 'tolk.html'

- var Slider2Titel = 'Translation services'
- var Slider2Sub = 'On congres , phone or meeting'
- var Slider2Link= 'tolk.html'

- var Slider3Titel = 'Tolk & Vertaalbureau'
- var Slider3Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider3Link= 'tolk.html'

- var Slider4Titel = 'Tolk & Vertaalbureau'
- var Slider4Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider4Link= 'tolk.html'

- var Slider5Titel = 'Tolk & Vertaalbureau'
- var Slider5Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider5Link= 'tolk.html'

- var Slider6Titel = 'Tolk & Vertaalbureau'
- var Slider6Sub = 'U zoekt een beedigd tolk of vertaler?'
- var Slider6Link= 'tolk.html'

// links
- var HomeKnop = 'index.html'
- var HomeGBknop = 'indexgb.html'
- var HomeFRknop = 'indexfr.html'
- var HomeARknop = 'indexar.html'

- var cursuslink = 'reservering.html'
- var dienstlink = 'specdiensten.html'
- var contactlink = 'contact.html'
- var referentielink = 'referentie.html'
- var tolklink = 'tolk.html'
- var downloadsLink = 'downloads.html'
- var specdienstLink = 'specdiensten.html'
- var beedigdtolkLink = 'tolk.html'
